
@{
    ViewBag.Title = "Transfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transferir unidades</h2>

<div>

    @using (Html.BeginForm("Transfer", "Administrar"))
    {
        <p>ID Sucursal origen</p>
        <input type="number" name="id" class="form-control" />

        <p>ID Sucursal destino</p>
        <input type="number" name="id2" class="form-control" />

        <p>ID Producto</p>
        <input type="number" name="idproducto" class="form-control" />

        <p>Cantidad</p>
        <input type="number" name="qty" class="form-control" />
        <br />
        <input type="submit" value="Transferir" class="btn btn-default" />
    }

</div>

<br />
<div>
    @Html.ActionLink("Regresar", "Index")
</div>